.page {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  inset: 0;
  display: grid;
  place-items: center;
}

.wrapper {
  background: white;
  padding: 48px 24px;
  position: absolute;
  height: 600px;
  width: 400px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.item {
  display: flex;
}

.item > * {
  flex: 1 0 0%;
}

.closeArea {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
}
