.wrapper {
  padding: 8px 16px;
  font-weight: 700;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.primary {
  composes: wrapper;
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary:hover {
  background: rgba(var(--primary-color-rgb), 0.1);
}
