.wrapper {
  margin: 16px 32px 0px 350px;
  padding-left: 16px;

  min-height: 100vh;
}

.smallWrapper {
  composes: wrapper;
  margin: 16px 32px 0px 72px;
}

.notLoggedIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
