.wrapper {
  margin: 16px 32px 0px 350px;
  padding-left: 16px;

  min-height: 100vh;
}

.smallWrapper {
  composes: wrapper;
  margin: 16px 32px 0px 72px;
}

.notLoggedIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid var(--primary-color);
  background: rgba(var(--primary-color-rgb), 0.1);
}

.info p {
  padding: 6px 0px;
  margin: 0;
  font-size: 1.2rem;
}
