.wrapper {
  margin: 16px 32px 0px 350px;
  padding-left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.smallWrapper {
  composes: wrapper;
  margin: 16px 32px 0px 72px;
}

.notLoggedIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
