.wrapper {
  margin-bottom: 32px;
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorName {
  font-weight: 700;
}

.description {
  margin-bottom: 12px;
}

