.wrapper {
  margin-bottom: 32px;
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-weight: 700;
  margin: 0 0 8px 0;
}

.description {
  margin-bottom: 12px;
}

.link:hover {
  text-decoration: underline;
}
