html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color-rgb: 254, 44, 85;
  --secondary-color: 22, 24, 35;
  --primary-color: rgba(254, 44, 85, 1);
  --secondary-color: rgba(22, 24, 35, 0.06);
}
