.wrapper {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 96px;
  color: red;
  font-weight: 900;
  transform: rotate(-12deg);
  animation: sparkle 0.5s infinite;
}

@keyframes sparkle {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
      0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0000,
      0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 75px #ff0000;
  }
}
